<ul class="navbar-nav fw-bold">
  <li class="nav-item">
    <%= user_controls %>
  </li>
  <li class="nav-item d-none d-lg-block">
    <span class="nav-link">|</span>
  </li>
  <li class="nav-item">
    <%= session_controls %>
  </li>
</ul>
