<ul class="navbar-nav ms-auto fw-bold fs-sm">
    <li class="nav-item">
      <%= session_controls %>
    </li>
    <li class="nav-item">
      <span class="nav-link">|</span>
    </li>
    <li class="nav-item">
      <%= user_controls %>
    </li>
</ul>
