<div class="container-lg py-5">
  <div class="row justify-content-center align-items-center">
    <div class="col-sm-8 col-md-5 col-lg-4">
      <div class="card border-primary alert-primary py-5 shadow">
        <div class="card-body">
          <h1 class="card-title fs-5">Sign up</h1>
          <p class="mb-0 fw-light text-muted fs-sm lh-1">
            Join now to start sharing your jots, and read other people's
          </p>
          <%= render 'form' %>

          <p class="fw-light">
            Already joined? <%= link_to 'Log in', login_path %>
          </p>
        </div>
      </div>
    </div>

    <div class="col-lg-2 d-none d-lg-flex justify-content-center">
      <div class="p-3 shadow bg-primary border border-primary" id="jot-pen-icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="5rem" height="5rem" fill="currentColor" class="bi bi-vector-pen text-white" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M10.646.646a.5.5 0 0 1 .708 0l4 4a.5.5 0 0 1 0 .708l-1.902 1.902-.829 3.313a1.5 1.5 0 0 1-1.024 1.073L1.254 14.746 4.358 4.4A1.5 1.5 0 0 1 5.43 3.377l3.313-.828L10.646.646zm-1.8 2.908l-3.173.793a.5.5 0 0 0-.358.342l-2.57 8.565 8.567-2.57a.5.5 0 0 0 .34-.357l.794-3.174-3.6-3.6z"/>
          <path fill-rule="evenodd" d="M2.832 13.228L8 9a1 1 0 1 0-1-1l-4.228 5.168-.026.086.086-.026z"/>
        </svg>
      </div>
    </div>
  </div>
</div>
