<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-sm-10 col-md-5 col-lg-4">
      <div class="card alert-primary border-0">
        <div class="card-body">
          <h1 class="card-title fw-bold fs-5 mb-0">Add new category</h1>
          <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>
</div>
