<div class="container-lg  px-0 px-lg-3 overflow-x-hidden">
  <h1 class="d-inline-block mx-2 mx-lg-0 mt-3 px-5 alert-primary rounded-pill text-secondary fw-bold fs-3 border-bottom border-primary border-3">
    <%= @category.name %>
  </h1>

  <!-- Magazine -->
  <div class="row g-0">
    <% @category.jots.each do |jot| %>
      <div class="col-12 col-md-6">
        <%= render 'jots/card', jot: jot %>
      </div>
    <% end %>
  </div>
</div>
