<div class="d-flex">
  <div class="alert alert-<%= flash_class %> alert-dismissible rounded-end position-fixed d-inline-flex py-2 mt-1 fade show" role="alert">
    <p class="mb-0"><%= flash[:notice] %></p>
    <p class="mb-0"><%= flash[:alert] %></p>
    <button type="button" class="btn-close fs-xs p-0 mt-2 me-2" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
</div>
