<div class="container">
  <div class="row justify-content-center">
    <div class="col py-5 mt-5 text-center user-select-none">
      <h1 class="display-1 fw-light text-secondary">
        Hey, there!
      </h1>
      <p class="fs-4 text-muted fw-lighter">
        Share your jots and read other people's?
      </p class="fs-4 text-muted fw-lighter">
      <div class="alert alert-primary coming-soon rounded-1 px-5 py-2 fw-bold d-inline-flex">
        Coming soon
      </div>
    </div>
  </div>
</div>
