<div class="container-lg px-0 px-lg-3 overflow-x-hidden" id="index-main">
  <div class="row g-0" id="mega-hero">
    <div class="col-12">
      <%= render 'layouts/latest_jot_card' %>
    </div>
  </div>
  <div class="row g-0" id="top-jots">
    <% @top_categories.each_with_index do |category, index| %>
    <div class="col-6 col-md-3">
      <%= render 'layouts/top_jot_card', category: category %>
    </div>
    <% end %>
  </div>
</div>
