<div class="container-lg px-0 px-lg-2 overflow-x-hidden">
  <div class="row g-0" id="mega-hero">
    <div class="col-lg-9">
      <div class="card rounded-0 border-0 h-100">
        <%# image_tag asset_path('one.jpg', alt: 'Sample One'), class: 'card-img rounded-0' %>
        <img src="https://picsum.photos/id/111/4400/2656.jpg" alt="OPop">
        <div class="card-img-overlay rounded-0 bottom-0 start-0">
          <h2 class="fw-bold fs-5 text-primary">
            <%= link_to '#', class: 'text-decoration-none' do %>
              Why you must not make any excuse for not keeping fit.
            <% end %>
          </h2>
          <p class="text-white lh-sm mb-0">
            Friends. young woman working out at home , doing yoga exercises with the dog.
            beautiful woman stretching, practicing. wellness, wellbeing, healthcare,
            mental health, lifestyle concept. Free Photo
          </p>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <%# image_tag asset_path('two.jpg', alt: 'Sample Two') %>
      <img src="https://picsum.photos/id/155/4400/2656.jpg" alt="OPop">
    </div>
  </div>
  <div class="row g-0" id="most-popular">
    <% @top_categories.each_with_index do |category, index| %>
    <div class="col-6 col-md-3">
      <div class="card popular-jot-card border-0 rounded-0">
        <%= image_tag category.top_jot.image, alt: category.top_jot.title, class: 'card-img rounded-0' %>
        <div class="card-img-overlay h-100 w-100 rounded-0 bottom-0 start-0">
          <h2 class="d-inline border-bottom border-2 fs-5">
            <%= link_to category.name, category_path(category), class: 'text-white text-decoration-none' %>
          </h2>
          <p class="text-white fw-bold mx-2 mb-2 lh-sm position-absolute bottom-0 start-0">
            <%= link_to category.top_jot.title, jot_path(category.top_jot), class: 'text-light text-decoration-none' %>
          </p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
